.btn-flat {
  background-color: #5d39ed;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;

  &:hover {
    color: #ffffff;
  }
}

.bg-image {
  background-image: linear-gradient(90deg, #eb1b8c, #ff9445);
  height: 100vh;
}
